.insert-card__icon {
    min-width: 22px;
    height: 19px;
    transform: opacity .2s;
    cursor: pointer;
    object-fit: contain;
    background-image: url("../../../images/like-disabled.png");
    background-repeat: no-repeat;
    background-position: center;
}

.insert-card__icon:hover {
    opacity: .6;
}