.profile__edit-button {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: opacity .2s;
    align-self: flex-end;
    margin-left: 18px;
    margin-bottom: 9px;
}

.profile__edit-button:hover {
    opacity: .6;
}

@media (max-width: 1023px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin-left: 10px;
    }
}